@model SecullumInfraWeb.Models.Department

@{
    ViewData["Title"] = "Cadastrar:";
}

<h2>Departamento/Local</h2>

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nome:</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
